@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slow-zoom {
    animation: slow-zoom 30s ease-in-out infinite alternate;
  }
}

@keyframes slow-zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 30, 41, 59;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
} 